body {
    margin: 0;
    background-color: #fafafa
}

ul {
    position: center;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    padding: 0px;
    color: #000;
    text-align: center;
}



h2{

    text-align: center;
    text-decoration: none;
    color: #000;
}
h2:hover{

   color: silver;

}





ul,
li {
    text-align: left;
    padding: 10px;
    width: 800px;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: none;
}

#minhaTabela {
    width: 80%;
    margin: 0 auto;
    border: 0;
    box-shadow: 0 5px 30px darkgrey;
    border-spacing: 0;
}

#minhaTabela thead th {
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

#minhaTabela tr td {
    padding: 5px 10px;
    text-align: center;
}

#minhaTabela tr td:last-child {
    text-align: center;
}


/**Cores**/

#minhaTabela tr:nth-child(odd) {
    background-color: #eee;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form-professor {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    width: 1000px;
    margin: 0 auto;
}

#botao_deletar_professor {
    position: absolute;
    right: 450px;
    width: 10%;
    top: 466px;
    height: 5%;
}

#botao_voltar_professor {
    position: absolute;
    right: 630px;
    top: 466px;
    width: 10%;
    height: 5%;
}

#botao_novo_professor {
    display: block;
    margin-left: 1000px;
    margin-right: 10px;
    margin-top: -25px;
}

#botao_novo_professor:hover {
    background-color: #28A745;
    color: #fff;
}

#btn_voltar_prof_index {
    display: block;
    margin-left: 850px;
    margin-right: 160px;
    margin-top: -38px;
}

#btn_voltar_prof_index:hover {
    background-color: #007BFF;
    color: #fff;
}
