<div class="modal fade" id="myBtn3" role="dialog">
  <div class="modal-dialog">   
    <div class="modal-content">
      <div class="modal-header">
        <h3>DELETAR PROFESSOR</h3>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <h2>Tem certeza que deseja remover {{ professor.nome }} ?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-outline-success" data-dismiss="modal" value="Salvar">Salvar</button>
        </form>           
      </div>
    </div> 
  </div>
</div>