
    <!-- Modal -->
      <div id="MyModal1" class="modal1">
        <!-- Modal content -->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3>ATUALIZAR PROFESSOR</h3>
            </div>
            <div class="modal-body">
              <form method="GET">
              {% csrf_token %}
              {{ form }}
            </div>
              <div class="modal-footer">
                <button type="Reset" class="btn btn-outline-danger" id="Fecha">Fechar</button>
                <button id="Fecha" class="btn btn-outline-success" type="submit" value="Salvar">Salvar</button>
              </form>           
          </div>
        </div>
      </div>
      </div>

    <script>
    // Get the modal
    var modal1 = document.getElementById("MyModal1");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn2");
    //Fecha o modal
    var Fecha = document.getElementById("Fecha");
    // Get the <span> element that closes the modal
    btn.onclick = function() {
    modal1.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal1.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal1) {
      modal1.style.display = "none";
    }
    Fecha.onclick = function() {
      modal1.style.display = "none";
      }
    }
    </script> 