<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <form>
    <select required>
      <option value="SO">SO</option>
      <option value="POO">POO</option>
      <option value="APOO">APOO</option>
      <option value="DevWeb">DevWeb</option>
      <option selected disabled hidden>Disciplina</option>
    </select>
    <select required>
      <option value="Dani">Dani</option>
      <option value="Gil">Gil</option>
      <option value="Braulio">Braulio</option>
      <option value="Gorgin">Gorgin</option>
      <option selected disabled hidden>Professor</option>
    </select>
    <select required>
      <option value="Lab07">Lab. 07</option>
      <option value="Lab04">Lab. 04</option>
      <option value="Lab06">Lab. 06</option>
      <option value="Lab12">Lab. 12</option>
      <option selected disabled hidden>Sala</option>
    </select>
    <br><br>
    <table>
      <tr>
        <th>Horário</th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
      </tr>
      <tr>
        <th>07:00 - 07:45</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>07:45 - 08:30</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
        <tr>
        <th>09:00 - 09:45</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>09:45 - 10:30</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
        <tr>
        <th>10:30 - 11:15</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>11:15 - 12:00</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>13:00 - 13:45</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>13:45 - 14:30</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
        <tr>
        <th>14:30 - 15:15</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>15:15 - 16:00</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
        <tr>
        <th>16:30 - 17:15</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>17:15 - 18:00</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>19:00 - 19:45</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>19:45 - 20:30</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
        <tr>
        <th>20:40 - 21:25</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
      <tr>
        <th>21:25 - 22:10</th>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
        <td><button style="background-color: white" type="submit">Cadastrar</button></td>
      </tr>
    </table>
    </form>
    <script src="script.js"></script>
  </body>
</html>
