<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Reserva de horário</title>
  </head>
  <body>
    <form method="post">
      {% if lista_de_salas and lista_de_disciplinas and lista_de_professores %}
      <select required>
        {% for disciplina in lista_de_disciplinas %}
          <option value="{{ disciplina.nome }}"></option>
        {% endfor %}
        <option selected disabled hidden>Disciplina</option>
      </select>
    </form>
    {% else %}
      <p>Não pode reservar horário.</p>
      <script type="text/javascript">
        alert("O sistema não conta com os requisitos para que um horário seja reservado. Adicione uma sala de aula, uma disciplina e um professor antes.");
        window.location.assign("http://127.0.0.1:8000/otime");
      </script>
    {% endif %}
  </body>
</html>
